body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#startButton{
    font-size: 30px;
}
.wel{
    font-size: bold;
    font-size: 35px;
}
